<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deco.sleepp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".MenuCuestionarios"></activity>
        <activity android:name=".AcercaDe"></activity>
        <activity android:name=".TeoriaTrastornos"></activity>
        <activity android:name=".EscalaEpworth"></activity>
        <activity android:name=".CalidadSueno"></activity>
        <activity android:name=".ClinicaInformacion"></activity>
        <activity android:name=".TrastornosActivity"></activity>
        <activity android:name=".InsomnioActivity"></activity>
        <activity android:name=".ApneaActivity"></activity>
        <activity android:name=".SahosActivity"></activity>
        <activity android:name=".SomnolenciaActivity"></activity>
        <activity android:name=".NarcolepsiaActivity"></activity>
        <activity android:name=".InsuficienciaActivity"></activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>