<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="deco.sleepp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".MenuCuestionarios" />
        <activity android:name=".AcercaDe" />
        <activity android:name=".TeoriaTrastornos" />
        <activity android:name=".EscalaEpworth" />
        <activity android:name=".CalidadSueno" />
        <activity android:name=".ClinicaInformacion" />
        <activity android:name=".TrastornosActivity" />
        <activity android:name=".InsomnioActivity" />
        <activity android:name=".ApneaActivity" />
        <activity android:name=".SahosActivity" />
        <activity android:name=".SomnolenciaActivity" />
        <activity android:name=".NarcolepsiaActivity" />
        <activity android:name=".InsuficienciaActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuPaciente"
            android:label="@string/title_activity_menu_paciente"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>